<div class="subject new">
  <h2>Create New Subject</h2>
  <%= link_to "Subjects list", subjects_path, class: 'back link' %>

  <%= form_for @subject, url: subjects_path, method: 'post' do |f| %>
    
    <%= render partial: 'form', locals: {f: f} %>

    <div class="form-buttons">
      <%= f.submit "Create Subject" %>
    </div>
  <% end %>
  
</div>