// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.banner {
  height: 1em; 
  padding: 1em; 
  margin-bottom: 1em; 
  background-image: image-url('gradient.jpg')

}

div#content {
  min-height: 500px;
}